@model PWND2.Models.SendChallengeVM

@{
    ViewBag.Title = "SendChallenge";
}

<h2>SendChallenge</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.challengeId)
    <div class="form-horizontal">
        <h4>SendChallengeVM</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
           Who do you want to challenge?
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.KIdIds,(MultiSelectList) ViewBag.AllKids,  new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.KIdIds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
